@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
* {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: #000;
    color: #fff;
}
.header {
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.logo-center {
    width: 150px;
    height: auto;
    margin: 0 auto;
}
.upload-link {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}
.small-button {
    padding: 3px 2px;
    font-size: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
.search-form {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: 30px;
}
.search-form input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
}
.search-form button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.logo-right {
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.container {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
.upload-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.upload-form label {
    font-size: 16px;
    font-weight: bold;
}
.upload-form input[type="url"],
.upload-form input[type="text"],
.upload-form textarea {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}
.upload-form button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.results-list {
    list-style-type: none;
    padding: 0;
}
.results-list li {
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #ccc; /* Adicionado para melhor visualização */
}
h2 {
    font-size: 17px;
    margin-bottom: 15px;
}
h1 {
    font-size: 19px;
    margin-top: 20px;
}
.links-container {
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}
.links-container a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
.links-container a:hover {
    text-decoration: underline;
}
.home-page {
    background-color: #000;
    color: #fff;
    height: 100vh;
}
.home-page .container {
    background-color: #000;
}
@media (min-width: 768px) {
    .top-bar {
        justify-content: flex-start;
    }
    .search-form {
        width: 86%;
        margin-left: auto;
        margin-right: auto;
    }
    .upload-link {
        right: 40px;
    }
    .container {
        width: 60%;
    }
    .results-list li {
        font-size: 16px;
    }
    h2, h1 {
        font-size: 22px;
    }
}
@media (max-width: 767px) {
    .top-bar {
        justify-content: flex-start;
    }
    .search-form {
        width: 85%;
        margin-left: 7%;
    }
    .upload-link {
        right: 10px;
        top: 10px;
    }
}
.category-filter {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.category-filter form {
    display: flex;
    align-items: center;
}