<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Esta página não existe!</h1>
        <img src="https://i.ibb.co/F4Lm1LB/1000391944-removebg-preview.png" alt="Logo" style="width: 150px; height: auto;">
        <p>Você tentou acessar uma URL que não está disponível no nosso serviço.</p>
    </div>
</body>
</html>